@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    /*outline:solid red 1px;*/
}
a{
    color:black;
    text-decoration: none;
}
html, body{
    width:100%;
    height:100%;
}

/*Menu*/
.menu{
    font-size:24px;
    width: 100%;
    display:flex;
    height:70px;
    background-color: rgba(200,200,200,0.6);
    position:fixed;
    font-family: 'Quicksand', sans-serif;

}
.menu li{
    height:inherit;
    flex: 1 1 auto;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;

}

.menu li img{
    height: inherit;
}
.menu a{
    list-style: none;
    display:block;
    margin-right:15px;
    padding-right:15px;
    line-height:70px;
    color: rgb(65,65,65);
}
.menu a:hover{
    color: rgb(35,35,35);
}
/* Menu End */

/* About Section*/
.aboutSection{
    min-height:900px;
    background-color: lightgrey;
}

.about{
    width:100%;
    height:100%;
    background-image: url("../images/about.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro{
    width:80%;
    font-family: 'Lato', sans-serif;
    display:block;
    padding:30px;
    width:60%;
}
.mainText{
    font-family: 'Lato', sans-serif;
    display:block;
    padding:30px;
    padding-top:0px;
    width:75%;
}
/* About Section End */

/* developer Section*/
.developerSection{
    min-height:900px;
    background-color: gray;
}

.developer{
    width:100%;
    height:100%;
    background-image: url("../images/developer.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro{
    width:80%;
    font-family: 'Lato', sans-serif;
    display:block;
    padding:30px;
    width:60%;
}
.mainText{
    font-family: 'Lato', sans-serif;
    display:block;
    padding:30px;
    padding-top:0px;
    width:75%;
}
/* developer Section End */

/* designer Section*/
.designerSection{
    background-color: lightslategray;
    min-height:900px;
}

.designer{
    width:100%;
    height:100%;
    background-image: url("../images/designer.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro{
    width:80%;
    font-family: 'Lato', sans-serif;
    display:block;
    padding:30px;
    width:60%;
}
.mainText{
    font-family: 'Lato', sans-serif;
    display:block;
    padding:30px;
    padding-top:0px;
    width:75%;
}
/* designer Section End */

/* contact Section*/
.contactSection{
    min-height:900px;
    background-color: lightsteelblue;
}

.contact{
    width:100%;
}
.intro{
    width:80%;
    font-family: 'Lato', sans-serif;
    display:block;
    padding:30px;
    width:60%;
}
.mainText{
    font-family: 'Lato', sans-serif;
    display:block;
    padding:30px;
    padding-top:0px;
    width:75%;
}
/* contact Section End */

.current{
    color:black;
    text-decoration: underline;
}
.current li{
    color:black;
}